* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    background-color: rgb(189,219,229);
}

.container {
    background-color: rgb(237,239,241);
    border-radius: 15px;
    margin: 20px 30px;
    height: auto;
}

.nav_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_links a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

.nav_links a:hover {
    color: gray;
}

#work_link {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: black;
    cursor: pointer;
}

#work_link a {
    color: #fff;
}

#work_link:hover {
    background-color: #1a1b1f;
    opacity: 2;
}

.wrapper {
    padding: 50px 120px;
}

.first_section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

h1 {
    font-size: 44px;
}

.sec_section {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sec_section p {
    font-weight: 300;
}

h2 {
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.career {
    width: 900px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

li {
    list-style: none;
    border: 1px solid #ced1df;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

li:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
}